@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MVC-DogWalk App</h1>
    <h1 class="display-5">Performance of CRUD on Dogs, Dummy Auth via Email, and details page for Owners and Walkers</h1>
    <p>ASP.NET Core (MVC comparison app with Razor Pg) built with the intention to mimic functionality with...</br> a second built application using  ASP.NET Frameworks Web Forms and Stored Procedures.</p>
</div>
